# file types
*.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
**.html
*.csv
*.xlsx
*.png
*.jpeg
*.pdf
*.js
*.css
*.bib
*.shp
*.docx


# folders
literature/
Recoded/
Raw/
Tables/
admin/
*archived/
logs/
invoice/
sample_data/
6_Shapefiles/



.Rproj.user
